@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-image: url(./order-summary-component-main/images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: hsl(225, 100%, 94%);
}
main {
  height: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 25px;
  font-family: "Red Hat Display", sans-serif;
  background-color: white;
}
svg {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
h1 {
  margin-top: 5px;
  font-family: "Red Hat Display", sans-serif;
}
p,
.costo,
.pago,
.cancelar {
  font-family: "Red Hat Display", sans-serif;
}
.costo {
  width: 75%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  background-color: hsl(225, 100%, 98%);
}
.costo2 {
  display: flex;
  gap: 10px;
}
.pago {
  width: 75%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: hsl(245, 75%, 52%);
  color: white;
}
p {
  color: hsl(224, 23%, 55%);
}
.cancelar,
.sesenta {
  color: hsl(224, 23%, 55%);
}
a {
  color: hsl(245, 75%, 52%);
}
